.navbar {
  width: 100%;
  border: 2px solid black;
  padding-top: 2px;
  padding-bottom: 2px;
}
.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  margin: 0;
}
.item {
  padding: 2px 2px 2px 2px;  
  width: 75px;
}
.link {
  text-decoration: underline;
}
